[submodule "AccessorFacade"]
	path = AccessorFacade
	url = https://github.com/jonathanstowe/AccessorFacade.git
[submodule "Acme-Insult-Lala"]
	path = Acme-Insult-Lala
	url = https://github.com/jonathanstowe/Acme-Insult-Lala.git
[submodule "App-ModuleSnap"]
	path = App-ModuleSnap
	url = https://github.com/jonathanstowe/App-ModuleSnap.git
[submodule "Attribute-Lazy"]
	path = Attribute-Lazy
	url = https://github.com/jonathanstowe/Attribute-Lazy.git
[submodule "Audio-Convert-Samplerate"]
	path = Audio-Convert-Samplerate
	url = https://github.com/jonathanstowe/Audio-Convert-Samplerate.git
[submodule "Audio-Encode-LameMP3"]
	path = Audio-Encode-LameMP3
	url = https://github.com/jonathanstowe/Audio-Encode-LameMP3.git
[submodule "Audio-Fingerprint-Chromaprint"]
	path = Audio-Fingerprint-Chromaprint
	url = https://github.com/jonathanstowe/Audio-Fingerprint-Chromaprint.git
[submodule "Audio-Hydrogen"]
	path = Audio-Hydrogen
	url = https://github.com/jonathanstowe/Audio-Hydrogen.git
[submodule "Audio-Icecast"]
	path = Audio-Icecast
	url = https://github.com/jonathanstowe/Audio-Icecast.git
[submodule "Audio-Libshout"]
	path = Audio-Libshout
	url = https://github.com/jonathanstowe/Audio-Libshout.git
[submodule "Audio-Liquidsoap"]
	path = Audio-Liquidsoap
	url = https://github.com/jonathanstowe/Audio-Liquidsoap.git
[submodule "Audio-Playlist-JSPF"]
	path = Audio-Playlist-JSPF
	url = https://github.com/jonathanstowe/Audio-Playlist-JSPF.git
[submodule "Audio-PortAudio"]
	path = Audio-PortAudio
	url = https://github.com/Perl6-Noise-Gang/Audio-PortAudio.git
[submodule "Audio-PortMIDI"]
	path = Audio-PortMIDI
	url = https://github.com/Perl6-Noise-Gang/Audio-PortMIDI.git
[submodule "Audio-Silan"]
	path = Audio-Silan
	url = https://github.com/jonathanstowe/Audio-Silan.git
[submodule "Audio-Sndfile"]
	path = Audio-Sndfile
	url = https://github.com/jonathanstowe/Audio-Sndfile.git
[submodule "CheckSocket"]
	path = CheckSocket
	url = https://github.com/jonathanstowe/CheckSocket.git
[submodule "Chronic"]
	path = Chronic
	url = https://github.com/jonathanstowe/Chronic.git
[submodule "Crypt-Libcrypt"]
	path = Crypt-Libcrypt
	url = https://github.com/jonathanstowe/Crypt-Libcrypt.git
[submodule "Device-Velleman-K8055"]
	path = Device-Velleman-K8055
	url = https://github.com/jonathanstowe/Device-Velleman-K8055.git
[submodule "Doublephone"]
	path = Doublephone
	url = https://github.com/jonathanstowe/Doublephone.git
[submodule "EuclideanRhythm"]
	path = EuclideanRhythm
	url = https://github.com/jonathanstowe/EuclideanRhythm.git
[submodule "EventEmitter"]
	path = EventEmitter
	url = https://github.com/jonathanstowe/EventEmitter.git
[submodule "IO-Path-Mode"]
	path = IO-Path-Mode
	url = https://github.com/jonathanstowe/IO-Path-Mode.git
[submodule "JSON-Class"]
	path = JSON-Class
	url = https://github.com/jonathanstowe/JSON-Class.git
[submodule "JSON-Infer"]
	path = JSON-Infer
	url = https://github.com/jonathanstowe/JSON-Infer.git
[submodule "JSON-Marshal"]
	path = JSON-Marshal
	url = https://github.com/jonathanstowe/JSON-Marshal.git
[submodule "JSON-Name"]
	path = JSON-Name
	url = https://github.com/jonathanstowe/JSON-Name.git
[submodule "LibraryCheck"]
	path = LibraryCheck
	url = https://github.com/jonathanstowe/LibraryCheck.git
[submodule "Log-Syslog-Native"]
	path = Log-Syslog-Native
	url = https://github.com/jonathanstowe/Log-Syslog-Native.git
[submodule "Lumberjack"]
	path = Lumberjack
	url = https://github.com/jonathanstowe/Lumberjack.git
[submodule "Lumberjack-Application"]
	path = Lumberjack-Application
	url = https://github.com/jonathanstowe/Lumberjack-Application.git
[submodule "Lumberjack-Dispatcher-Syslog"]
	path = Lumberjack-Dispatcher-Syslog
	url = https://github.com/jonathanstowe/Lumberjack-Dispatcher-Syslog.git
[submodule "Manifesto"]
	path = Manifesto
	url = https://github.com/jonathanstowe/Manifesto.git
[submodule "META6"]
	path = META6
	url = https://github.com/jonathanstowe/META6.git
[submodule "Monitor-Monit"]
	path = Monitor-Monit
	url = https://github.com/jonathanstowe/Monitor-Monit.git
[submodule "NativeHelpers-Array"]
	path = NativeHelpers-Array
	url = https://github.com/jonathanstowe/NativeHelpers-Array.git
[submodule "Object-Permission"]
	path = Object-Permission
	url = https://github.com/jonathanstowe/Object-Permission.git
[submodule "Object-Permission-Group"]
	path = Object-Permission-Group
	url = https://github.com/jonathanstowe/Object-Permission-Group.git
[submodule "Oyatul"]
	path = Oyatul
	url = https://github.com/jonathanstowe/Oyatul.git
[submodule "Raku-Sys-Lastlog"]
	path = Raku-Sys-Lastlog
	url = https://github.com/jonathanstowe/Raku-Sys-Lastlog.git
[submodule "Raku-Sys-Utmp"]
	path = Raku-Sys-Utmp
	url = https://github.com/jonathanstowe/Raku-Sys-Utmp.git
[submodule "p6-Term-Cap"]
	path = p6-Term-Cap
	url = https://github.com/jonathanstowe/p6-Term-Cap.git
[submodule "RPi-Device-PiGlow"]
	path = RPi-Device-PiGlow
	url = https://github.com/jonathanstowe/RPi-Device-PiGlow.git
[submodule "RPi-Device-SMBus"]
	path = RPi-Device-SMBus
	url = https://github.com/jonathanstowe/RPi-Device-SMBus.git
[submodule "Sofa"]
	path = Sofa
	url = https://github.com/jonathanstowe/Sofa.git
[submodule "Staticish"]
	path = Staticish
	url = https://github.com/jonathanstowe/Staticish.git
[submodule "Test-META"]
	path = Test-META
	url = https://github.com/jonathanstowe/Test-META.git
[submodule "Test-Util-ServerPort"]
	path = Test-Util-ServerPort
	url = https://github.com/jonathanstowe/Test-Util-ServerPort.git
[submodule "Tinky"]
	path = Tinky
	url = https://github.com/jonathanstowe/Tinky.git
[submodule "Tinky-JSON"]
	path = Tinky-JSON
	url = https://github.com/jonathanstowe/Tinky-JSON.git
[submodule "Unix-Groups"]
	path = Unix-Groups
	url = https://github.com/jonathanstowe/Unix-Groups.git
[submodule "URI-FetchFile"]
	path = URI-FetchFile
	url = https://github.com/jonathanstowe/URI-FetchFile.git
[submodule "URI-Template"]
	path = URI-Template
	url = https://github.com/jonathanstowe/URI-Template.git
[submodule "Util-Bitfield"]
	path = Util-Bitfield
	url = https://github.com/jonathanstowe/Util-Bitfield.git
[submodule "WebService-Soundcloud"]
	path = WebService-Soundcloud
	url = https://github.com/jonathanstowe/WebService-Soundcloud.git
[submodule "XDG"]
	path = XDG
	url = https://github.com/jonathanstowe/XDG.git
[submodule "XDG-BaseDirectory"]
	path = XDG-BaseDirectory
	url = https://github.com/jonathanstowe/XDG-BaseDirectory.git
[submodule "XML-Class"]
	path = XML-Class
	url = https://github.com/jonathanstowe/XML-Class.git
[submodule "EventSource-Server"]
	path = EventSource-Server
	url = https://github.com/jonathanstowe/EventSource-Server.git
[submodule "MessagePack-Class"]
	path = MessagePack-Class
	url = https://github.com/jonathanstowe/MessagePack-Class.git
[submodule "FastCGI-NativeCall-Async"]
	path = FastCGI-NativeCall-Async
	url = https://github.com/jonathanstowe/FastCGI-NativeCall-Async.git
[submodule "p6-fcgi"]
	path = p6-fcgi
	url = https://github.com/jonathanstowe/p6-fcgi.git
[submodule "p6-fcgi-psgi"]
	path = p6-fcgi-psgi
	url = https://github.com/jonathanstowe/p6-fcgi-psgi.git
[submodule "MQ-Posix"]
	path = MQ-Posix
	url = https://github.com/jonathanstowe/MQ-Posix.git
[submodule "Igo"]
	path = Igo
	url = https://github.com/jonathanstowe/Igo.git
[submodule "Pg-Notify"]
	path = Pg-Notify
	url = https://github.com/jonathanstowe/Pg-Notify.git
[submodule "raku-unix-privileges"]
	path = raku-unix-privileges
	url = https://github.com/jonathanstowe/raku-unix-privileges.git
[submodule "License-SPDX"]
	path = License-SPDX
	url = https://github.com/jonathanstowe/License-SPDX.git
[submodule "RedX-HashedPassword"]
	path = RedX-HashedPassword
	url = https://github.com/jonathanstowe/RedX-HashedPassword.git
[submodule "Raku-Sys-Utmp"]
	path = Raku-Sys-Utmp
	url = https://github.com/jonathanstowe/Raku-Sys-Utmp.git
[submodule "Raku-Linux-Fuser"]
	path = Raku-Linux-Fuser
	url = https://github.com/jonathanstowe/Raku-Linux-Fuser.git
[submodule "Raku-Linux-Cpuinfo"]
	path = Raku-Linux-Cpuinfo
	url = https://github.com/jonathanstowe/Raku-Linux-Cpuinfo.git
[submodule "Raku-GDBM"]
	path = Raku-GDBM
	url = https://github.com/jonathanstowe/Raku-GDBM.git
[submodule "Crypt-SodiumScrypt"]
	path = Crypt-SodiumScrypt
	url = https://github.com/jonathanstowe/Crypt-SodiumScrypt.git
[submodule "Ujumla"]
	path = Ujumla
	url = https://github.com/jonathanstowe/Ujumla.git
[submodule "EventSource-Client"]
	path = EventSource-Client
	url = https://github.com/jonathanstowe/EventSource-Client.git
[submodule "Util-Uuencode"]
	path = Util-Uuencode
	url = https://github.com/jonathanstowe/Util-Uuencode.git
[submodule "Lumberjack-Config-JSON"]
	path = Lumberjack-Config-JSON
	url = https://github.com/jonathanstowe/Lumberjack-Config-JSON.git
	branch = main
[submodule "Lumberjack-Message-JSON"]
	path = Lumberjack-Message-JSON
	url = https://github.com/jonathanstowe/Lumberjack-Message-JSON.git
	branch = main
